{% extends 'base.html' %} {% block title %}Iniciar Sesión{% endblock %} {% block
content %}
<div class="login-container">
  <h2>Iniciar Sesión</h2>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flash-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <form action="/login" method="POST">
    <div class="form_inicioDeSesion">
      <div class="input_formulario">
        <label for="username" class="">Usuario:</label>
        <input
          type="text"
          id="usuario"
          name="usuario"
          required
          placeholder="Ingrese su usuario"
        />
      </div>
      <div class="input_formulario">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="contrasenia" required placeholder="Ingrese su contraseña"/>
      </div>
      <div class="g-recaptcha" data-sitekey="6LfIILcpAAAAALxL3iCJZhc5BMRNfrocrhx5DJZX"></div>
      <button  class="botonInicioDeSesion" type="submit">Iniciar Sesión</button>
    </div>
  </form>

</div>
{% endblock %}
